/*
//## Table of Contents
//## 
//## COMMON STYLES ............ fonts, colors variables
//## PAGE STYLES .............. main bg, font-size and wrapper
//## HEADER SECTION ........... header styles
//#### BURGER STYLES .......... burger btn styles
//#### BURGER MENU STYLES ..... styles for modal burger menu
//## TIMELINE STYLES .......... styles for timeline section
//*/

/*quick reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

/* COMMON STYLES */

$mainTextFont: 'Open Sans',
sans-serif;
$timelineTextFont: 'Poppins',
sans-serif;
$mainTextColor: #ffffff;
$timelineTextColor: #ffd7f1;
$mainTextSize: 1.6rem;
$cursor: url(../images/cursor.png), default;
$hoverTextColor: #de2bba;

/* PAGE STYLES */

html {
	font-size: 10px;
}

.body {
	background-color: #000000;
	background: url('../images/background.jpg') 50% 50% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	font-family: $mainTextFont;
	color: $mainTextColor;
	&__wrapper {
		display: flex;
		flex-direction: column;
		margin: auto;
		width:78vw;
		height: 100%;
	}
}

/* HEADER SECTION */

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	align-items: center;
	order: 1;
	padding: 4rem 0 2rem 0;
	position: relative;
}

.logo {
	text-transform: uppercase;
	font-family: $timelineTextFont;
	font-weight: 300;
	color: $mainTextColor;
	font-size: $mainTextSize;
}

/*BURGER STYLES */

.burger {
	border: none;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 3.2rem;
	height: 3.2rem;
	&__line {
		width: 3.2rem;
		height: 1px;
		background-color: $mainTextColor;
		&:first-of-type {
			margin-top: 0.1rem;
		}
		&:last-of-type {
			margin-bottom: 0.1rem;
		}
	}
}

/* BURGER MENU STYLES */

// class for changing burger menu visibility
.hidden {
	opacity: 0;
	visibility: hidden;
	display: none;
}

.burger__menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 4rem;
	width: calc(22vw + 3.2rem);
	height: 100vh; 
}

.close-btn {
	border: none;
	background-color: inherit;
	width: 3.2rem;
	height: 3.2rem;
	position: relative;
	margin-bottom: 12.5rem;
	cursor: $cursor;
	font-size: 1.4rem;
	&__line {
		right: 0.15rem;
		width: 3rem;
		height: 1px;
		background-color: black;
		position: absolute;
		&--left {
			transform: rotate(45deg);
		}
		&--right {
			transform: rotate(-45deg);
		}
	}
}

.menu {
	display: flex;
	font-size: $mainTextSize;
	flex-direction: column;
	justify-content: space-between;
	color: black;
	padding: 0;
	text-transform: capitalize;
	margin-bottom: 9rem;
}

.menu__item {
	padding: 1rem 0;
	margin-bottom: 4.5rem;
	transition: all .3s;
	cursor: $cursor;
	list-style-type: none;
	&:last-child{
		margin-bottom: 0;
	}
	&:hover{
		color: $hoverTextColor;
	}
}
.menu__link{
	text-decoration: none;
	color: inherit;
	cursor: $cursor;
}
.menu__btn {
	color: white;
	background-color: black;
	text-transform: uppercase;
	padding: 2rem 2.5rem;
	transition: all .3s;
	cursor: $cursor;
	&:hover{
		background-color: $hoverTextColor;
	}
}

/* INFO SECTIONS */

.info {
	display: flex;
	flex-direction: column;
	width: 30%;
	max-width: 460px;
	margin: auto;
	color: $mainTextColor;
	padding: 6.5rem 0;
	&__title {
		font-size: 2.4rem;
		font-weight: 600;
	}
	&__text {
		font-size: $mainTextSize;
		font-weight: 400;
		margin-top: 2rem;
	}
	&--top {
		order: 0;
	}
	&--bottom {
		padding-bottom: 12.5rem;
		order: 4;
	}
}


/* TYMELINE SECTION */

.timeline{
	position: relative;
	height: 100%;
	min-height: 630px;
	order:2;
}

.timeline__box{
	height: 43vw;
	width: 43vw;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-80%, -50%);
	border: 1px solid white;
	border-radius: 50%;
}

.timeline__dates {
	position: absolute;
	top: calc(50% - 5px);
	left:50%;
	color: $mainTextColor;
	transform: translate(-100%, -50%);
	transition: all 3s;
}

.timeline__dates--active{
	color: $timelineTextColor;
}



//gradient
.timeline__line__box{
	position: absolute;
	width: 12vw;
	left: 19vw;
	top: calc(50% - 7.5px); ///magic for poppins
	height: 1.5rem;
	transform: translateY(-100%);
}
.timeline__line__part{
	width: 100%;
	height: 100%;
}
.timeline__line--gradient{
	background: linear-gradient(to right, rgba(255, 175, 227, 1) 0%, rgba(250, 44, 176, 1) 78%, rgba(250, 44, 176, 1) 100%);
}

.timeline__line--hover{
	background-color: black;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.timelapse {
	animation-name: timelapse;
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(.86, .05, .4, .96);
}

@keyframes timelapse {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}




//// right part
.timeline__description{
	position: absolute;
	left: 33vw;
	height: 100%;
	text-align: left;
	max-width: 36vw;
}

.timeline__date--main{
	padding: 0;
	margin: 0;
	font-family: $timelineTextFont;
	font-size: 19.8rem;
	line-height: 0.8; ///magic for poppins
	font-weight: 700;
	position: absolute;
	top: calc(50% + 6px);
	transform: translateY(-100%);
	background: linear-gradient(to right, rgba(250, 44, 176, 1) 0%, rgba(192, 42, 198, 1) 100%);
	-webkit-background-clip: text;
	-o-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	color: transparent;
}

.timeline__sub{
	position: absolute;
	top: 55%;
	color: $timelineTextColor;
	font-size: $mainTextSize;
	width: 37rem;
}

.timeline__title{
	position: absolute;
	top: 0;
	color: $timelineTextColor;
	font-size: 2.8rem;
	font-weight: 600;
	width: 37rem;
}













//@media (max-width: 575.98px) { ... }
//
//// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) and (max-width: 767.98px) { ... }
//
//// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) and (max-width: 991.98px) { 
//}
//
////// Large devices (desktops, 992px and up)
//@media (min-width: 992px)  {
//	.body__wrapper{
//		max-width: 1070px; 
//}
//
////// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {
//	.body__wrapper{
//		max-width: 1620px; 
//	}}
